.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-map {
  height: 80%;
  width: 80%;
  align-self: center;
}

.search-bar {
  display: flex;
}

button {
  height: 3em;
  align-self: center;
}

